html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.item-1 {
    width: 100px;
    height: 100px;
    background-color: red;
    text-align: center;
    line-height: 100px;
    color: white;
    font-weight: bold;
}
/* Your CSS Code here. */